# Ignore everything
*

# Except the README and the PDF
!ShortestPaths.pdf
!ShortestPaths.tex
!ShortestPathsPresentation.pdf
!ShortestPathsPresentation.tex
#!ShortestPathsProblemsPresentation.pdf
#!ShortestPathsProblemsPresentation.tex
!CriticalStatement.pdf
!Critical.cpp
# !TheTouristGuide.cpp
# !TheTouristGuide_BS.cpp
# !TheTouristGuide_DSU.cpp
#!TheTouristGuideStatement.pdf
#!CountryRoads.cpp
#!Journey.cpp
#!NotEscaping.cpp
!Traveller.cpp
!TravellerStatement.pdf
!TwoCurrencies.cpp
#!Traveller_Dijkstra.cpp

# Keep this gitignore tracked
!.gitignore
